In [1]:
s = "abcd"
for c in s:
    print(c)

a
b
c
d

In [2]:
n = int(input())

for i in range(0, n, 1):
    print(i)

4
0
1
2
3

In [4]:
n = int(input())

for i in range(0, n + 1, 1):
    print(i)

4
0
1
2
3
4

In [6]:
# print the number from 1 to n
n = int(input())

for i in range(1, n + 1, 1):
    print(i)

4
1
2
3
4

In [7]:
# By default start -> 0 and stride/step -> 1
n = int(input())

for i in range(n + 1):
    print(i)

4
0
1
2
3
4

In [8]:
#print number from n to 1

n = int(input())

for i in range(n, 0, -1):
    print(i)

4
4
3
2
1

In [10]:
#print multiple of 3
a = int(input())
b = int(input())

for i in range(a, b + 1, 1):
    if i % 3 == 0:
        print(i)

1
10
3
6
9

In [15]:
#print multiple of 3
a = int(input())
b = int(input())

if a % 3 == 0:
    s = a
elif a % 3 == 1:
    s = a + 2
else:
    s = a + 1

for i in range(s, b + 1, 3):
    print(i)

7
50
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [26]:
# Check Prime
n = int(input())
flag = False
for d in range(2, n, 1):
    if n % d == 0:
        flag = True
if flag:
    print("Not Prime")
else:
    print("Prime")

1
Prime

   1
  232
 34543
4567654

In [21]:
n = int(input())

for i in range(1, n + 1, 1):
    for s in range(n - i):
        print(" ", end='')
    for j in range(i, 2 * i, 1):
        print(j, end='')
    for j in range(2 * i - 2, i - 1, -1):
        print(j, end='')
    print()

4
   1
  232
 34543
4567654

### Break

In [22]:
i = 1
while i < 10:
    if i == 5:
        break
    print(i)
    i = i + 1

1
2
3
4

In [24]:
# Check Prime
n = int(input())
flag = False
for d in range(2, n, 1):
    if n % d == 0:
        flag = True
        break                      # by using break the code is optimized
if flag:
    print("Not Prime")
else:
    print("Prime")

12345678
Not Prime

In [32]:
n = int(input())
k = 2
while k <= n:
    d = 2
    flag = False
    while d < k:
        if k % d == 0:
            flag = True
            break
        d = d + 1
    if(not(flag)):
        print(k)
    k = k + 1

20
2
3
5
7
11
13
17
19

### Else keyword with For Loop

In [34]:
for i in range(1, 10):
    print(i)
else:
    print("This will print once at the end.")

1
2
3
4
5
6
7
8
9
This will print once at the end.

In [35]:
for i in range(1, 10):
    print(i)
print("This will print once at the end.")

1
2
3
4
5
6
7
8
9
This will print once at the end.

In [38]:
# Check Prime using Else keyword in Loop
n = int(input())
for d in range(2, n, 1):
    if n % d == 0:
        break
else:
    print("Prime Number")

13
Prime Number

All Even numbers except the multiple of 7.

In [41]:
n = int(input())

for i in range(2, n + 1, 2):
    if i % 7 == 0:
        continue
    print(i)

100
2
4
6
8
10
12
16
18
20
22
24
26
30
32
34
36
38
40
44
46
48
50
52
54
58
60
62
64
66
68
72
74
76
78
80
82
86
88
90
92
94
96
100

In [44]:
n = int(input())

for i in range(2, n + 1, 2):
    print(i)
    if i % 7 == 0:
        continue
    print(i)

20
2
2
4
4
6
6
8
8
10
10
12
12
14
16
16
18
18
20
20

In [45]:
n = int(input())

i = 2
while i <= n:
    if i % 7 == 0:
        i = i + 2
        continue
    print(i)
    i = i + 2

100
2
4
6
8
10
12
16
18
20
22
24
26
30
32
34
36
38
40
44
46
48
50
52
54
58
60
62
64
66
68
72
74
76
78
80
82
86
88
90
92
94
96
100

In [47]:
i=1
while i<3:
    j=0
    while j<5:
        j = j +1
        if j==3:
            continue
        print(j, end = "")
    i = i +1

12451245

### Pass Statement

In [49]:
i = 3
if i < 7:
    pass
print("Hi")

Hi

In [50]:
i = 1
while i<= 3:
    pass
    i = i + 1
print('end')

end

In [51]:
for i in range(1, 4):
    pass
print("end")

end

Problem statement
Print the following pattern for the given number of rows.

Pattern for N = 4
1111
000
11
0

In [52]:
n = int(input())

for i in range(0,n):
    for j in range(n - i, 0 , -1):
        if(i % 2 == 0):
            print(1, end="")
        else:
            print(0, end="")
    print()

5
11111
0000
111
00
1

123456
 23456
  3456
   456
    56
     6
    56
   456
  3456
 23456
123456

In [55]:
n = int(input())
for i in range(1, n+1):
    count = 1
    for j in range(1, i):
        print(" ",end="")
        count = count + 1
    num = i 
    for j in range(count, n+1):
        print(num, end="") 
        num = num + 1
    print()
for i in range(n-1, 0, -1):
    count = 1
    for j in range(1, i):
        print(" ",end="") 
        count = count + 1
    num = i 
    for j in range(count, n+1): 
        print(num, end="")
        num = num + 1 
    print()

5
12345
 2345
  345
   45
    5
   45
  345
 2345
12345

  *
 ***
*****
 ***
  *

In [56]:
n = int(input())
n1 = (n // 2) + 1
for i in range(1, n1 + 1):
    for j in range(1, n1 - i + 1):
        print(" ", end="")
    for j in range(1, 2 * i):
        print("*", end="")
    print()
n2 = n - n1
for i in range(n2, 0, -1):
    for j in range(1, n1 - i + 1):
        print(" ", end="")
    for j in range(1, 2 * i):
        print("*", end="")
    print()

5
  *
 ***
*****
 ***
  *

4444444
4333334
4322234
4321234
4322234
4333334
4444444

In [57]:
n = int(input())
for i in range(1, n + 1):
    temp = n
    for j in range(1, i):
        print(temp, end="")
        temp = temp - 1
    for j in range(1, (2 * n) - (2 * i) + 2):
        print(n - i + 1, end="")
    for j in range(1, i):
        temp = temp + 1
        print(temp, end="")
    print()
for i in range(n - 1, 0, -1):
    temp = n
    for j in range(1,i):
        print(temp, end="")
        temp = temp - 1 
    for j in range(1, (2 * n) - (2 * i) + 2):
        print(n - i + 1, end="")
    for j in range(1, i):
        temp = temp + 1
        print(temp, end="")
    print()

4
4444444
4333334
4322234
4321234
4322234
4333334
4444444

Problem statement
Print the following pattern for the given number of rows.

Pattern for N = 5
 1    2   3    4   5
 11   12  13   14  15
 21   22  23   24  25
 16   17  18   19  20
 6    7    8   9   10

In [58]:
n = int(input()) 
startValue = 1
for i in range(1, n + 1): 
    for j in range(startValue, startValue + n):
        print(j, end=" ")
    print()
    if(i == ((n + 1) // 2)):
        if((n % 2) != 0):
            startValue = n * (n - 2) + 1
        else:
            startValue = n * (n - 1) + 1
    elif((i > (n + 1) // 2)):
        startValue = startValue - 2 * n
    else:
        startValue = startValue + 2 * n

5
1 2 3 4 5
11 12 13 14 15
21 22 23 24 25
16 17 18 19 20
6 7 8 9 10